---
import Layout from "@/layouts/Layout.astro";
import Tipsntricks from "@/components/home/tipsntricks.astro";
import Faq from "@/components/home/faq.astro"
import Cta from "@/components/home/cta.astro";
import '@/styles/globals.css'
---

<Layout
  title="Dinnerparty - Vancouver organic social media marketing studio"
  description="Helping buisnesses in Vancouver grow organically and build strong communities threw social media."
  ogTitle="Dinnerparty - Vancouver organic social media marketing studio"
  ogDescription="Helping buisnesses in Vancouver grow organically and build strong communities threw social media."
  ogType="website"
  ogUrl="https://dinnerparty.studio"
  ogImage={"/boot.png"}
>
  <meta
    name="keywords"
    content="Vancouver, Social media marketing, Dinnerparty studio"
  />
  <main>


    <h1>Contact us</h1>
    
    
    
    <Tipsntricks/>
    <Faq/>
    <Cta/>

</main>
  
</Layout>