<section class="md:container md:mx-auto py-12">
    <div class="grid grid-rows-3 gap-12 col-auto items-center" >
        <div class="flex justify-start">
            <div class="max-w-96">
                <h1 class="text-4xl font-poppins font-black">This is what we do</h1>
                <p class="text-2xl font-custom">
                 Just like a dinner party we’re all about bringing people together—bridging the gap between businesses and their communities. 
                     </p>
               
                
              </div>
        </div>
        <div class="flex justify-center">
            <div class="max-w-96">
                <h1 class="text-4xl font-poppins font-black">How we do it</h1>
                <p class="text-2xl font-custom">
                 Just like a dinner party we’re all about bringing people together—bridging the gap between businesses and their communities. 
                 </p>
               
                
              </div>
        </div>
        <div class="flex justify-end">
            <div class="max-w-96">
                <h1 class="text-4xl font-poppins font-black">Any why we do it</h1>
                <p class="text-2xl font-custom">
                 Just like a dinner party we’re all about bringing people together—bridging the gap between businesses and their communities. 
                 </p>
               
                
              </div>
        </div>
         
            </div>
        </div>
      </div>
</section>
