---
import { Button } from "../ui/button"
---
<section class="md:container md:mx-auto py-12 px-3">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 col-auto items-center" >
        <div class="order-last sm:order-first">
            <h1 class="text-4xl font-poppins font-black">Meet the team!</h1>
            <p class="pt-3 text-2xl font-custom">
                At Dinnerparty, we live and breathe content creation - As passionate creative's with a keen eye for crafting videos that stand out on social media, we noticed something: social media is demanding, and many local businesses simply don’t have the time or expertise to get it right.
                We started by helping friends and a couple local businesses in Vancouver, and one of our first videos did really well. It opened new doors and created opportunities for them. While we were proud of the result, we knew it was just the beginning—we could do even better.
                That’s why we founded Dinnerparty Studio, right here in Vancouver.
            </p> 
           
          </div>
          <div class="flex flex-col justify-center">
            
              <div class="grid grid-cols-2 col-auto gap-3 items-center">
                  <div class="bg-[#fffbef] text-black p-6">
                      <h2 class="font-poppins font-black">Co-Founder</h2>
                      <h3 class="font-poppins">Sam</h3>
                      <div class=" w-full">
                        <img src="/Sam.png" alt="">
                      </div>
                
                    </div>
                    <div class="bg-[#fffbef] text-black p-6">
                        <h2 class="font-poppins font-black">Co-Founder</h2>
                        <h3 class="font-poppins">Reece</h3>
                        <div class="w-full">
                            <img src="/Reece.png" alt="">
                        </div>
                      </div>
            </div>
            </div>
        </div>
      </div>
</section>
