---
import Layout from "../layouts/Layout.astro";
import LandingVideo from "../components/home/landing-video.astro";
import ContentSlider from "../components/home/content-slider.astro";
import BigLogo from "../components/home/big-logo.astro";
---

<Layout
  title="Dinnerparty - Organic Social media marketing"
  description="Helping buisnesses in Vancouver grow organically on social media."
  ogTitle="Dinnerparty - Organic Social media marketing"
  ogDescription="Helping buisnesses in Vancouver grow organically on social media."
  ogType="website"
  ogUrl="https://dinnerparty.studio"
  ogImage={"/boot.png"}
>
  <meta
    name="keywords"
    content="Vancouver, Social media marketing, Dinnerparty"
  />
  <main>
    <BigLogo />
    <ContentSlider />
    <LandingVideo />

  </main>
</Layout>
