


<div class="big-logo-wrapper">

    <h1 class="dinnerparty">Dinnerparty</h1>
    <!-- <img  class="dinnerparty" src="../../../public/2.gif" alt=""/> -->
    <div class="wrapper">
      <h2 class="dpn">Your community is your brand.</h2>
      <img  class="icon" src="../../../public/bbl.png" alt=""/>
    </div>


    </div>
  
  </div>
  
 
  
  <style>



    @font-face {
      font-family: "goudy_bookletter_1911";
      src: url("../../public/font.woff") format("woff");
    }

   
  
    .wrapper{
      position: relative;
    }
    .icon{
      position: absolute;
      width: 100px;
      z-index: 9999;
      top:-50px;
      right: -50px;
    }
  
    .big-logo-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #4A46FF;
      justify-content: center;

    }
    .dinnerparty {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-size: 12vw;
      text-align: center;
      margin: 0;
      color: #fffbef ;

    }
  
    .dpn {
      font-family: "goudy_bookletter_1911";
      text-align: center;
      font-size: 6vw;
      margin: 0;
      color: #fffbef;
    }
    @media only screen and (max-width: 900px) {
      .big-logo-wrapper {
      padding: 15px;
    }
      .dinnerparty {
      font-size: 4rem;
      }
      .dpn {
       font-size: 40px;
      }
    }
  </style>
  