<header>
    <p>Dinnerparty</p>
    <div>
      <h1>Your community is your brand.</h1>
    </div>
</header>
 
  <style>
    @font-face {
      font-family: "goudy_bookletter_1911";
      src: url("../../public/font.woff") format("woff");
    }

    div{
      position: relative;
    }
  
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #101010;
      justify-content: center;
      overflow: hidden;

    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-size: 12vw;
      text-align: center;
      margin: 0;
      color: #fffbef ;
    }
  
    h1{
      font-family: "goudy_bookletter_1911";
      text-align: center;
      font-size: 6vw;
      margin: 0;
      color: #fffbef;
    }
    @media only screen and (max-width: 900px) {
      header {
      padding: 15px;
    }
     p{
      font-size: 3rem;
      }
      h1{
       font-size: 40px;
      }
    }
  </style>
  