---
import MainCta from "../myComponents/main-cta.astro"
---
<section class="md:container md:mx-auto py-12 p-3">
    <div class="new flex flex-col items-center p-6 sm:p-12 rounded text-[#101010] bg-[#fffbf0]">
        <h2 class="font-poppins mb-2 font-black text-4xl text-center">Ready to Grow Your Brand's Community?</h2>
        <p class="text-xl sm:text-2xl max-w-4xl font-custom text-center">We’re here to help you grow your audience and build a strong community with engaging content. With our custom strategy, tailored style guide, and high-quality short-form videos, you can focus on running your business while we handle the content creation.</p>
        <div class="mt-6 w-full flex justify-center">
            <MainCta/>
        </div>
    </div>
</section>
