<footer class="container mx-auto">
  <hr>
          <div class="grid grid-cols-2 p-6">
            <div>
              <ul class="flex justify-center flex-col md:flex-row">
                <li><a href="/">Home</a></li>
                <li><a href="/studio">Studio</a></li>
                <li><a href="/tidbits">Tidbits</a></li>
                <li><a href="/grow-my-brands-community">Grow My Brands Community!</a></li>
              </ul>
            </div>
              <div>
                <ul class="flex justify-center flex-col md:flex-row">
                    <li><a target="_blank" href="https://www.instagram.com/dinnerparty.studio">Instagram</a></li>
                    <li><a target="_blank"  href="https://www.tiktok.com/@dinnerparty.studio">Tiktok</a></li>
                    <li><a target="_blank"  href="https://www.linkedin.com/in/dinnerpartystudio/">Linkedin</a></li>
                  </ul>      
              </div>
          </div>
</footer>

<style>
  hr{
    border-top: 1px solid #fffbef3b;
}
  a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
  
  li{
    margin: 10px;
  }

</style>