<section class="md:container md:mx-auto px-3">

  <h2 class="py-12 text-4xl sm:text-6xl">We create short-form video content that helps brands grow their community and connect with their audience, right here in Vancouver.</h2>

</section>


<style>
   @font-face {
    font-family: "goudy_bookletter_1911";
    src: url("/font.woff") format("woff");
  }

  h2 { 
    font-family: "goudy_bookletter_1911";
    text-align: center;
  }

  @media screen and (max-width: 580px) {

  }
</style>
