


<div class="marquee">

    <div class="track">
        <div class="card">
            <img src="/1.jpg" alt="">
        </div>
        <div class="card">
            <img src="/2.jpg" alt="">
        </div>
        <div class="card">
            <img src="/3.jpg" alt="">
        </div>
        <div class="card">
            <img src="/4.jpg" alt="">
        </div>
        <div class="card">
            <img src="/5.jpg" alt="">
        </div>
        <div class="card">
            <img src="/1.jpg" alt="">
        </div>
        <div class="card">
            <img src="/2.jpg" alt="">
        </div>
        <div class="card">
            <img src="/3.jpg" alt="">
        </div>
        <div class="card">
            <img src="/4.jpg" alt="">
        </div>
        <div class="card">
            <img src="/5.jpg" alt="">
        </div>

    </div>
  </div>
  
  
  <style>
      @font-face {
        font-family: "goudy_bookletter_1911";
        src: url("../../public/font.woff") format("woff");
      }
  
      .title{
        font-family: "goudy_bookletter_1911";
        padding-top: 5vh;
        padding: 30px
      }
    
    
      .marquee {
        width: 100%;
        overflow: hidden;
        grid-column: span 2;
      }
    
    
      .card {
        width: 250px;
        height: 400px;
        /* background-color: #4A46FF; */
        margin-left: 15px;
    }
    
    img{
        position:absolute;
        object-fit: cover;
        width: 250px;
        height: 400px;
        border-radius: 10px;
      }
    
      .marquee {
        position: relative;
        width: 100vw;
        height: 400px;
        overflow: hidden;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        background-color: #fffbef ;
      }
    
      .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 60s linear infinite;
        display: flex;
      }
      @keyframes marquee {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }
  
  /* CSS to pause the marquee on hover */
  .track:hover {
    animation-play-state: paused;
  }
  
  /* Optional: You can also add a slight zoom effect on hover for better user feedback */
  .card:hover, .card2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  @media only screen and (max-width: 900px) {
    .marquee{
        
        padding-bottom: 0.5vh;
    }
    .card{
      width: 200px;
        height: 300px;
        margin-left: 12.5px;
    }
    img{
        position:absolute;
        object-fit:cover;
        width: 200px;
        height: 300px;
        border-radius: 10px;
      }
  }
    </style>
    