<div class="marquee">
    <div class="track">
        <div class="card">
            <img src="/belles.PNG" alt="">
            <div class="name-wrapper">
              <h2 class="name">Belle's Cafe</h2>
              <p class="handle">@belleson32</p>
              <a href="/portfolio/Belles"  class="button">Read more</a>
            </div>
        </div>
        <div class="card">
          <img src="/yellow.PNG" alt="">
          <div class="name-wrapper">
            <h2 class="name">Yellow Engineering</h2>
            <p class="handle">@yellow.xyz</p>
            <button class="button">Read more</button>
          </div>
      </div>
        <div class="card">
            <img src="/those.PNG" alt="">
            <div class="name-wrapper">
              <h2 class="name">Those Pretzels</h2>
              <p class="handle">@thosepretzels</p>
              <button class="button">Read more</button>
            </div>
        </div>
        <div class="card">
            <img src="/thomakis.PNG" alt="">
            <div class="name-wrapper">
              <h2 class="name">Thomakis Greek Yogurt</h2>
              <p class="handle">@thomakisyogurt</p>
              <button class="button">Read more</button>
            </div>
        </div>
        <div class="card">
            <img src="/kayoz.PNG" alt="">
            <div class="name-wrapper">
              <h2 class="name">KAYOZ</h2>
              <p class="handle">@kayoz.ca</p>
              <button class="button">Read more</button>
            </div>
        </div>
        <div class="card">
          <img src="/belles.PNG" alt="">
          <div class="name-wrapper">
            <h2 class="name">Belle's Cafe</h2>
            <p class="handle">@belleson32</p>
            <button class="button">Read more</button>
          </div>
      </div>
      <div class="card">
        <img src="/yellow.PNG" alt="">
        <div class="name-wrapper">
          <h2 class="name">Yellow Engineering</h2>
          <p class="handle">@yellow.xyz</p>
          <button class="button">Read more</button>
        </div>
    </div>
      <div class="card">
          <img src="/those.PNG" alt="">
          <div class="name-wrapper">
            <h2 class="name">Those Pretzels</h2>
            <p class="handle">@thosepretzels</p>
            <button class="button">Read more</button>
          </div>
      </div>
      <div class="card">
          <img src="/thomakis.PNG" alt="">
          <div class="name-wrapper">
            <h2 class="name">Thomakis Greek Yogurt</h2>
            <p class="handle">@thomakisyogurt</p>
            <button class="button">Read more</button>
          </div>
      </div>
      <div class="card">
          <img src="/kayoz.PNG" alt="">
          <div class="name-wrapper">
            <h2 class="name">KAYOZ</h2>
            <p class="handle">@kayoz.ca</p>
            <button class="button">Read more</button>
          </div>
      </div>

    </div>
  </div>
  
  
  <style>
      @font-face {
        font-family: "goudy_bookletter_1911";
        src: url("/font.woff") format("woff");
      }
  
      .title{
        font-family: "goudy_bookletter_1911";
        padding-top: 5vh;
        padding: 30px
      }
    
      .marquee {
        width: 100%;
        /* overflow:scroll; */
        overflow-x: scroll;
        grid-column: span 2;
      }
    
      .card {
        width: 250px;
        height: 350px;
        background-color: #e9e6da;
        margin-left: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    img{

        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 1000px;
      }
    
      .marquee {
        position: relative;
        width: 100vw;
        height: 400px;
        overflow: hidden;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        background-color: #fffbef ;
      }

      .name-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
     
      }
     

      .name{
        color: #07005c;
        font-size: 1rem;
        margin: 0;
      }
      .handle{
        color: #07005c;
      }
      .button{
        background-color: #4A46FF ;
color: #fffbef;
border: none;

border-radius: 10px;
font-family: "Poppins", sans-serif;
font-weight: 900;
font-size: 1rem;
padding: 10px 40px 10px 40px;
      }
      .button:hover{
        
        background-color: #07005c;
      }
    
      .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 60s linear infinite;
        display: flex;
      }
      @keyframes marquee {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-50%);
        }
      }
  
  /* CSS to pause the marquee on hover */
  .track:hover {
    animation-play-state: paused;
  }
  
  /* Optional: You can also add a slight zoom effect on hover for better user feedback */
  .card:hover, .card2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  @media only screen and (max-width: 900px) {
    .marquee{
        
        padding-bottom: 0.5vh;
    }
    .card{
      width: 200px;
        height: 300px;
        margin-left: 12.5px;
    }
    img{
        position:absolute;
        object-fit:cover;
        width: 200px;
        height: 300px;
        border-radius: 10px;
      }
  }
  
    </style>
    