<header>
  <nav>
    <ul>
       <li>
         <a href="/">Dinnerparty <span>Tidbits</span></a>
       </li>
    </ul>
  </nav>
</header>

<style>

@font-face {
    font-family: "goudy_bookletter_1911";
    src: url("/font.woff") format("woff");
  }
  span{
    font-family: "goudy_bookletter_1911";
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    z-index: 99999999999999999999999;
    background-color: #101010;
  }

  nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  a{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #fffbef;
    text-decoration: none;
    font-size: 30px;
    display: flex;
  }
  
  ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
</style>

