<div class="navbar">
  <div class="navbar-container">
    <a class="hero-name" href="/">Dinnerparty</a>
  </div>
</div>

<style>
  .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1;
    background-color: #fffbef;
  }

  .navbar-container {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .hero-name {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #4a46ff;
    text-decoration: none;
    font-size: 30px;
  }

</style>
