
  <article class="md:container md:mx-auto">
    <div class="new p-3 sm:p-12">
      <img  loading="lazy" class="service" src="/goot.png" alt="Drawing of a cocktail glass on a someone standing upsidedown's boot."></img>
      <section class="facts-wrapper">
        <header class="ap-wrapper">
          <h2 class="ap">Tidbits</h2>
        </header>
        <section>
          <!-- <p>Snackable Tips for mastering content on social media - Quick, actionable insights to help you create engaging posts, grow your audience, and build an authentic online presence—one tip at a time. Perfect for leveling up your content strategy with ease!</p> -->
          <p>Snackable Tips for to help you create engaging posts, grow your audience, and build an authentic online presence—one tip at a time.</p>

          <div class="my-5">
          <a class="button text-lg " href="/tidbits">Level Up Your Skills</a>
          </div>
        </section>
      </section>
    </div>
  </article>


<style>
  @font-face {
    font-family: "goudy_bookletter_1911";
    src: url("/font.woff") format("woff");
  }

  .ap-wrapper {
 
    width: 100%;
    display: flex;
    justify-content: space-between;
  
  }

  .new {
background-color: #fffbef;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  border-radius: 10px;
    height: 100%;
    width: 100%;
    color: #101010;
  }

  article {
    display: flex;
 
    align-items: center;
    justify-content: center;
  
  }

  .service {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain;
  }

  .facts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;

  }

  .funfacts-button-wrapper {
    display: flex;
  }

  

  .ap {
    font-size: 50px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
  }

  p {
    font-family: "goudy_bookletter_1911";
    font-size: 24px;
  }

  .button {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    border: none;
    background-color: #101010;
    color: #fffbef;

   
    width: fit-content;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }

  a:hover {

    cursor: pointer;
  }

  @media only screen and (max-width: 900px) {
    p{ font-size: 1rem;}
    .ap{
      font-size: 2rem;
    }
  }


</style>
