<article >
  <div  class="new">
    <section class="service"></section>
    <section class="facts-wrapper">
      <header class="ap-wrapper">
        <h2 class="ap">Tidbits</h2>
      </header>
      <section>
        <h3>Snackable Tips for mastering content on social media</h3>
        <a class="button" href="/tidbits">Small Bites of Big Ideas</a>
      </section>
    </section>
  </div>
</article>

<style>
  @font-face {
    font-family: "goudy_bookletter_1911";
    src: url("/font.woff") format("woff");
  }

  .ap-wrapper {
    border-bottom: #101010 2px dashed;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
  }

  .new {
    background-color: #fffbef;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    height: 35vh;
    width: 100%;
    color: #101010;
  }

  article {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
  }

  .service {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("/goot.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain;
  }

  .facts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;

  }

  .funfacts-button-wrapper {
    display: flex;
  }

  

  .ap {
    font-size: 50px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
  }

  h3 {
    font-family: "goudy_bookletter_1911";
    font-size: 24px;
  }

  .button {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    border: none;
    background-color: #101010;
    color: #fffbef;
    font-size: 20px;
    border-radius: 100px;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }

  a:hover {
    /* background-color: #101010; */
    cursor: pointer;
  }

  @media only screen and (max-width: 800px) {
    .ap-wrapper {
      width: 90%;
    }
  .new {
    display: flex;
    flex-direction: column; /* Stack vertically */
    padding: 0;
    height: 100%;
  }

  .service {
    order: 1; /* Image on top */
    width: 100%;
    height: 55vh; /* Adjust height as needed */
    background-position: center; 
  }

  .facts-wrapper {
    order: 2; /* Text and button below */
  
    width: 100%;
    text-align: start;
    justify-content: start;
    align-items: start;
    padding: 10px;
    margin-bottom: 10px;
  }

  .button {
    font-size: 1rem;
  }

  .ap {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

}
</style>
