<header class="md:container md:mx-auto px-4">
    <p>Small Bites of Big Ideas!</p>
    <div>
      <h1 class="max-w-4xl">Snackable Tips for mastering content on social media</h1>
    </div>
</header>
 
<style>
    @font-face {
    font-family: "goudy_bookletter_1911";
    src: url("/font.woff") format("woff");
  }

    div{
      position: relative;
    }
  
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
padding-top: 5vh;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-size: 1rem;
      text-align: center;     
    border: none;
    background-color: #fffbef;
    color: #101010;


    width: fit-content;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    }
  
    h1{
      font-family: "goudy_bookletter_1911";
      text-align: center;
      font-size: 4rem;     
    }
    @media only screen and (max-width: 900px) {
      header {
      padding: 15px;
    }
     p{
     
      }
      h1{
       font-size: 40px;
      }
    }
  </style>
  