---
import { Button } from "../ui/button";
---
    <Button asChild>
        <a class=" text-lg" href="/grow-my-brands-community">Grow My Brand's Community!</a>
    </Button>

<style>
     a{
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        border: none;
        color: #fffbef;
        background-color: #4A46FF;
        width:fit-content;
        text-decoration: none;
        padding: 10px 25px 10px 25px;
    }

    a:hover{
        cursor: pointer;
    }
</style>