---
import Layout from "@/layouts/Layout.astro";
import Faq from "@/components/home/faq.astro"
import Cta from "@/components/home/cta.astro";
import Us from "@/components/about/us.astro";
import Igposts from "@/components/home/igposts.astro";
import Process from "@/components/about/process.astro"
import '@/styles/globals.css'
---

<Layout
  title="Dinnerparty - Vancouver organic social media marketing studio"
  description="Helping buisnesses in Vancouver grow organically and build strong communities threw social media."
  ogTitle="Dinnerparty - Vancouver organic social media marketing studio"
  ogDescription="Helping buisnesses in Vancouver grow organically and build strong communities threw social media."
  ogType="website"
  ogUrl="https://dinnerparty.studio"
  ogImage={"/boot.png"}
>
  <meta
    name="keywords"
    content="Vancouver, Social media marketing, Dinnerparty studio"
  />
  <main class=" overflow-hidden">


    <Us/>
    <Igposts/>
    <!-- <Process/> -->
    <!-- <Faq/>
    <Cta/> -->

</main>
  
</Layout>